.section {
  width: 80%;
  margin: 1rem 10%;
  background-color: transparent;
  padding: 10px 0;
}

.section > h3 {
  padding-left: 20px;
}

.promise {
  padding: 20px;
  margin-top: 10px;
  border-radius: 1rem;
  background-color: var(--color-gree);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.promise-process {
  width: 30%;
  padding-bottom: 20px;
}

.promise-process a {
  padding: 1rem;
  color: #fff;
  border-radius: 10px 0;
  background-color: var(--color-green);
  transition: all 0.2s;
}

.promise-process a:hover {
  background-color: var(--color-deep);
}

.promise-step {
  width: 15%;
  text-align: center;
}

.promise-step img {
  width: 100px;
}

.review-board {
  width: 100%;
  display: flex;
  padding: 20px;
  margin-top: 10px;
  border-radius: 1rem;
  background-color: #fff;
  border-right: 5px solid rgb(240, 240, 240);
  border-bottom: 5px solid rgb(240, 240, 240);
}

.review-members {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 10px;
  gap: 20px;
}

.review-members-member {
  display: flex;
  align-items: center;
  gap: 10px;
}

.review-members-member img {
  border-radius: 5px 0;
}

.review-members-member:hover {
  color: var(--color-red);
}

.meet-the-team {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0 40px;
}

.meet-the-team a {
  align-self: start;
  padding: 1rem;
  color: #fff;
  border-radius: 10px 0;
  background-color: var(--color-green);
  transition: all 0.2s;
}

.meet-the-team a:hover {
  background-color: var(--color-deep);
}

.recent-awards {
  width: 100%;
  padding: 20px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.recent-awards .award {
  padding: 10px;
}

@media (max-width: 480px) {
  .section {
    width: 100%;
    margin: 0;
  }

  .promise,
  .review-board,
  .recent-awards {
    width: 100%;
    flex-direction: column;
    gap: 20px;
  }

  .promise-process,
  .promise-step {
    text-align: center;
    width: 100%;
  }

  .review-members {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .review-members-member {
    width: 100%;
  }

  .meet-the-team {
    width: 100%;
    padding: 10px;
    text-align: center;
  }

  .meet-the-team a {
    margin: 0 20%;
  }

  .recent-awards {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }

  .award img {
    width: 100px;
  }
}

