.navbar {
  position: fixed;
  z-index: 100;
  top: 0;
  height: 4rem;
  width: 100%;
  background-color: #fff;
  padding: 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-gree);
}

.navbar-menu {
  padding-top: 10px;
  display: none;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  width: 12rem;
  cursor: pointer;
}

.navbar-brand img:hover {
  opacity: 0.7;
}

.navbar-links {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 16px;
  border-left: 1px solid silver;
}

.navbar-links a {
  width: fit-content;
  padding-bottom: 1px;
  margin: 0 1rem;
  font-weight: 600;
  border-bottom: 3px solid transparent;
}

.navbar-links a.active {
  border-bottom: 3px solid var(--color-deep);
}

.navbar-links a:hover {
  border-bottom: 3px solid var(--color-red);
}

.navbar-search {
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  cursor: pointer;
}

.navbar-search img {
  width: 30px;
}

.navbar-search img:hover {
  opacity: 0.7;
}

@media (max-width: 1024px) {
  .navbar {
    width: 100vw;
    padding: 10px;
  }

  .navbar-links a {
    margin: 5px;
  }

  .navbar-menu {
    display: block;
  }

  .navbar-menu img {
    width: 40px;
    padding: 0;
  }

  .navbar-links {
    display: none;
  }
}
