@import url("https://fonts.maateen.me/kalpurush/font.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --color-deep: #13404f;
  --color-bg: #f7f9f9;
  --color-red: #d33b52;
  --color-green: #2ebe7e;
  --color-greenish: #dcebed;
  --color-deepest: #257f69;
  --color-gree: #d0ede1;
  --color-blue: #2a528f;
  --color-silver: #557580;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "kalpurush", "Roboto", Arial, sans-serif;
}

:lang(en) {
  font-family: "Roboto", Arial, sans-serif;
}

:lang(bn) {
  font-family: "kalpurush", Arial, sans-serif;
}

body {
  color: var(--color-deep);
  background-color: var(--color-bg);
  min-height: 100vh;
  padding-top: 4rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
  align-items: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.post_elements_parent a {
  color: blue;
  text-decoration: underline;
}

.post_elements_parent sup {
  color: blue;
}

.post_elements_parent blockquote {
  padding: 20px;
  margin: 20px 0;
  font-size: large;
  color: #000;
  text-align: justify;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: whitesmoke;
  border-left: 5px solid var(--color-green);
}

.post_elements_parent .quote {
  font-size: large;
  padding: 20px;
  font-weight: 600;
  color: var(--color-deep);
}

.post_elements_parent .quote b {
  color: var(--color-silver);
  float: right;
  margin-top: 10px;
}

.post_elements_parent .advice {
  font-size: x-large;
  text-align: center;
  padding: 20px;
  font-weight: 600;
  color: var(--color-deep);
}

.post_elements_parent .advice hr {
  height: 5px;
  width: 150px;
  margin-top: 20px;
  margin-left: 50%;
  transform: translate(-50%);
  background-color: var(--color-green);
}

.post_elements_parent ul {
  padding-left: 40px;
}

.post_elements_parent li::marker {
  font-size: x-large;
  color: var(--color-green);
}

.post_elements_parent li {
  margin-bottom: 10px;
  list-style-type: square;
}

.post_elements_parent li b {
  color: var(--color-silver);
}

@media (max-width: 768px) {
  .post_elements_parent ul {
    padding-left: 30px;
  }

  .post_elements_parent ul {
    padding-left: 30px;
  }
}
