.post-content a {
  color: blue;
  text-decoration: underline;
}

.post-content sup {
  color: blue;
}

.post-content blockquote {
  padding: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: whitesmoke;
  border-left: 5px solid var(--color-green);
}

.post-content .quote {
  font-size: large;
  padding: 20px;
  font-weight: 600;
  color: var(--color-deep);
}

.post-content .quote b {
  color: var(--color-silver);
  float: right;
  margin-top: 10px;
}

.post-content .advice {
  font-size: x-large;
  text-align: center;
  padding: 20px;
  font-weight: 600;
  color: var(--color-deep);
}

.post-content .advice hr {
  height: 5px;
  width: 150px;
  margin-top: 20px;
  margin-left: 50%;
  transform: translate(-50%);
  background-color: var(--color-green);
}

.post-content ul {
  padding-left: 40px;
  list-style-type: square;
}

.post-content ul li::marker {
  font-size: x-large;
  color: var(--color-green);
}

.post-content li {
  margin-bottom: 10px;
}

.post-content li b {
  color: var(--color-silver);
}

@media (max-width: 768px) {
  .post-content {
    padding: 20px 0;
  }

  .post-content ul {
    padding-left: 30px;
  }
  .post-content {
    width: 100%;
  }
}
